.customer-profile {
  display: flex;
  margin-left: 5%;
  margin-top: 2%;
}
.profile-image {
  flex: 0.25;
}
.profile-image > img {
  width: 75%;
  height: auto;
}
.profile-information {
  flex: 0.25;
  margin-left: 5%;
  margin-top: 50px;
}
.rental-information {
  flex: 0.5;
  margin-top: 100px;
  overflow-y: scroll;
}
.carInformation {
  display: flex;
  margin-top: 10px;
}
.image {
  flex: 0.5;
}
.information {
  flex: 0.5;
  font-weight: bold;
  color: rgb(10, 121, 112);
  font-style: italic;
}
.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
