.ManagerMainPage {
  display: flex;
  flex-direction: column;
}
.ManagerMainPageColumns {
  display: flex;
}
.CarsColumn {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 25px;
  height: 100vh;
  overflow-y: scroll;
}
.TopRow {
  display: flex;
  justify-content: right;
  margin-right: 50px;
  margin-top: 25px;
}
.EmployeeInformation {
  display: flex;
  flex: 0.5;
  margin-left: 50px;
  margin-top: 50px;
}
.EmployeeInformation > img {
  width: 100px;
  height: 100px;
}
.nameSurname {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.Employees {
  height: 100vh;
  overflow-y: scroll;
  flex: 0.5;
}
.CarsInformation {
  display: flex;
  flex: 0.5;
}
.CarImage {
  display: flex;
  align-items: center;
}
.CarImage > img {
  width: 75%;
  height: 50%;
  display: flex;
  align-items: center;
}
.CarDetails {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 25px;
  font-size: 12px;
}
